__pycache__/
*.pyc
.DS_Store
Thumbs.db

# Heavy assets and screenshots
*.pptx
*.xls
*.xlsx
*.xlsm
images/
test_images/
*.png
*.jpg
*.jpeg
*.gif
*.log
*.txt

# Exceptions to allow templates in git
!**/templates/*.pptx
